<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="giopib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <giopib.Properties.Settings>
            <setting name="FurniMove" serializeAs="String">
                <value>2286</value>
            </setting>
            <setting name="UseFurni" serializeAs="String">
                <value>3395</value>
            </setting>
            <setting name="FurniLoad" serializeAs="String">
                <value>1923</value>
            </setting>
            <setting name="Alert" serializeAs="String">
                <value>1337</value>
            </setting>
            <setting name="Rotate" serializeAs="String">
                <value>1338</value>
            </setting>
            <setting name="Rank" serializeAs="String">
                <value>1339</value>
            </setting>
        </giopib.Properties.Settings>
    </userSettings>
</configuration>